*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/banner.png);
  background-position: center;
  background-size: cover;
}
header nav{
  display: flex;
  justify-content: space-between;
  padding: 2% 6%;
}
.s-links{
  position: fixed;
  right: 0px;
  top: 150px;
  width: 50px;
}
.s-links i {
  width: 50px;
  height: 50px;
  
}
nav img {
  width: 150px;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav-links li {
  position: relative;
  padding: 30px 15px;
}
.submenu {
  position: absolute;
  list-style: none;
  width: 100% ;
  left: 0px;
  
  background: #ccc;
  
}

.submenu li {
  display: block;
  padding: 10px;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: 0.5s;
}
.nav-links a:hover{
  color: crimson;
  font-weight: 500;
}
header .textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding-top: 100px;
}
header .textbox h1 {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 1px;
}
header .textbox p{
  font-weight: bold;
  padding: 10px 50px;
}
header .hero-btn {
  border: 1px solid crimson;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  z-index: 2;
  text-decoration: none;
  transition: 0.5s;
}
header .hero-btn:hover {
  background-color: crimson;

}
.courses{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.courses h2 {
  font-size: 36px;
  font-weight: 600;
}
.courses p{
  line-height: 20px;
  color: #777;
}
.row{
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
  flex-wrap: wrap;

}
.courses-col{
  padding: 20px 12px;
  margin-bottom: 30px;
  background-color: #fff3f3;
  flex-basis: 31%;
  transition: .5s;
}
.courses-col:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, .2);
}
.campus{
  width: 80%;
  margin-inline: auto;
  text-align: center;
  
}
.campus-col{
  flex-basis: 32%;
  position: relative;

}
.campus-col img{
  width: 100%;
  display: block;
  border-radius: 10px;
}
.layer{
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover{
  background: rgba(139, 99, 177, 0.7);
}
.layer:hover h2{
  bottom: 49%;
  opacity: 1;
}
.layer h2 {
  color: #fff;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
  transition: 0.5s;

}





